<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Personnage</h1>
      <p class="lead text-muted">Liste complete des différent personnage du jeu</p>
    </div>
  </div>
</section>

<div class="py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">

          <img src="assets/img/personnage/Amelie.png" alt=""
               width="283" height="399"/>

          <div class="card-body" style="align-content: center">
            <p class="card-text" >
              Amelie
            </p>

            <p class="card-text price">
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Voir Detail</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/personnage/Benitha.png" alt=""
               width="239" height="408"/>

          <div class="card-body" style="align-content: center">
            <p class="card-text" >
             Benitha
            </p>

            <p class="card-text price">
              $1000000
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Voir Detail</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
