<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Destination Egalite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" routerLink="character-list">Personages</a>
        <a class="nav-link" routerLink="create"> Ajouter Personages</a>
        <a class="nav-link" routerLink="quiz">Quizz</a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link disabled"></a>

      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <p class="footer__title">Destination Egalité</p>
  <div class="footer__social">
    <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
    <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
    <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
  </div>
  <p class="footer__copy">&#169; Destination Egalité. All rigths reserved</p>
</footer>





