<div class="row justify-content-center">
  <div class="col-md-4 register-character">

    <div class="card-body">
      <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Nom</label>
          <input class="form-control" type="text" formControlName="name"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

            <label for="inputName">Pays</label>
            <input class="form-control" type="text" formControlName="name"/>

            <div
              class="invalid-feedback"
              *ngIf="submitted && characterForm['name'].errors?.['required']">
              Name is required
            </div>

          <label for="inputName">Opportunite 1</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Opportunite 2</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Opportunite 3</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Opportunite 4</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Opportunite 5</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Opportunite 6</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Difficulte 1</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Difficulte 2</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Difficulte 3</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Difficulte 4</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Difficulte 5</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>

          <label for="inputName">Difficulte 6</label>
          <input class="form-control" type="text" formControlName="opportunite"/>

          <div
            class="invalid-feedback"
            *ngIf="submitted && characterForm['name'].errors?.['required']">
            Name is required
          </div>


        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            Ajouter
          </button>
        </div>

      </form>

    </div>

  </div>
</div>
