<section class="information">
    <h3 class="title-text"> Qu'est ce que Destination  Egalité</h3>

  <div class="container">

    <div class="row featurette">
    <div class="col-md-5">
      <iframe width="500"
              height="315" src="https://www.youtube.com/embed/tpWCzW2kSLc"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>

      </iframe>
    </div>

<!--    <div class="col-md-7 video__description">-->
<!--      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>-->
<!--      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>-->

<!--    </div>-->
<!--    </div>-->


</div>
  </div>
</section>

<section class="board__game">
  <h2 class="title-text">Decouvrez le jeu de société</h2>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto"  src="assets/img/homepage/planche%20de%20jeux.PNG" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

</section>

<section class="characters">
  <h2 class="title-text">Nos Personnages</h2>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Une grande selection de personnage  <span class="text-muted"></span></h2>
      <p class="lead">Vivez une histoire differente a chaque partie grace a notre sélection variée de personnage.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto"  src="assets/img/homepage/personnage.PNG" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

</section>
